@import "tailwindcss";
@config "../tailwind.config.js";


.hide-scrollbar {
  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* IE/Edge */

  overflow: auto;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;              /* Chrome, Safari, Opera */
}
